.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
  column-gap: 3.2rem;
  row-gap: 8rem;
  padding: 3rem 0rem;
}

.btnMore {
  margin: 3rem 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  & > span {
    cursor: pointer;
    font-size: 2.4rem;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &.disable {
      color: var(--gray);
      pointer-events: none;
    }

    @media screen and (max-width: 640px) {
      font-size: 1.8rem;
    }
  }
}
